<h1>New user</h1>

<%= form_for :user, url: "create_user" do |f| %>
  <%= f.label 'First name' %><br />
  <%= f.text_field :first_name %><br /><br />

  <%= f.label 'Last name' %><br />
  <%= f.text_field :last_name %><br /><br />

  <%= f.label 'Age' %><br />
  <%= f.text_field :age %><br /><br />


  <%= f.label 'City' %><br />
  <%= f.text_field :city %><br /><br />

  <%= f.label 'Gender' %><br />
  <%= f.radio_button :gender, "M" %> Male
  <%= f.radio_button :gender, "F" %> Female
  <br /><br />

  <%= f.submit 'Submit' %>
<% end %>
