<h1>New user</h1>

<%= form_for :user, url: "create_user", local: true, data: { turbo: false } do |f| %>



  <div style="color: red;">
    <% if @user.errors.any? %>
    <h4><%= pluralize(@user.errors.count) 'error' %> have occured!</h4>

      <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>

    <% end %>
  </div>

  <%# here first_name and last_name not in our db but we use it in view bcz of virtual attributes by model class attr_accessor without using form_tag still use form_for  %>

  <%= f.label 'First name' %><br />
  <%= f.text_field :first_name %><br /><br />

  <%= f.label 'Last name' %><br />
  <%= f.text_field :last_name %><br /><br />

  <%= f.label 'Age' %><br />
  <%= f.text_field :age, class:"txt_field" %><br /><br /> <%# also use size, javascript function attributes etc %>


  <%= f.label 'City' %>: 
  <%#= f.text_field :city %>
  <%# we can also pass arr here in cities %>
  <%#= f.select :city, User::CITIES %>

  <%# getting city from database first select method give value as city name instead of id so we use 2nd %>
  <%#= f.select :city_id, City.all.collect(&:name) %>

  <%# include_blank: true also use where use prompt %>
  <%= f.collection_select :city_id, City.all, :id, :name, prompt: "please select" %><br /><br />



  <%= f.label 'Gender' %>: 
  <%= f.radio_button :gender, "M" %> Male
  <%= f.radio_button :gender, "F" %> Female
  <br /><br />

  <%= f.submit 'Submit' %>
<% end %>
